@import 'fonts.css';
ul, li, br{
    display: block;
    padding: 0;
    margin: 0;
}
.logo {

}
.menu-bar {
    color: #191919;
    padding: 35px 0;

    margin: auto;
    background: #e9e9e9;


}
.menu-bar-background, .header, header{
    background-color: #e9e9e9;
}
.menu__item{
    margin-left: 30px;


}
.menu__item a{
    font-family: 'Montserrat Medium';
    color: #191919;
    font-size: 12px;
}
.menu__item a:hover{
    text-decoration: none;
    color: #10c9c3;
}
.menu__item_a-active a{
    color: #10c9c3;
}
/*Header*/
.header>div{
    padding: 180px 0 200px 0;
    background: #e9e9e9;
}
.header__title {
    color: #1d1d1d;
    font-family: 'Montserrat Medium';
    font-size: 38px;

}
.header__text{
    color: #787878;
    font-family: 'Nunito Sans';
    font-size: 18px;
    margin:40px 120px 40px 0px;

}
.button{
    padding: 20px 40px;
    border: none;
    background: #10c9c3;
    transition: 0.3s;
}
.header__button{
    color: #ffffff;
    font-family: 'Montserrat Medium';
    font-size: 12px;
}
.header__button:hover{
    background: #118986;;
}
/*About*/
.about__title{
    color: #191919 ;
    font-family: 'Montserrat Medium' ;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.about__text{
    color: #787878 ;
    font-family: 'Nunito Sans' ;
    font-size: 16px;
    margin-bottom: 30px;
}

.about__text_progress{
    color: #000000 ;
    font-family: 'Montserrat Medium' ;
    font-size: 12px;
}
.about__progress{
    border: 0;
    background-color: #10c9c3;
    height: 3px;
    width: 500px;
}
.about__img{
    margin-bottom: 100px;
}
progress{
    border: none;
    height: 3px;
    width: 500px;
    border-radius: 0px;
}
progress::-webkit-progress-bar {
    background: #d8d8d8;
}
progress::-webkit-progress-value{
    background: #10c9c3;
}
.about__text_progress{
    color: #000000;
    font-family: 'Montserrat Medium' ;
    font-size: 12px;
    margin-top: 40px;
}
.about__section_empty{
    background-color: #e9e9e9;
}
.about__progress_title{
    text-align: left;
    padding-top: 160px;
}
.about__progress_section{
    padding-bottom: 160px;
    background-color: #f8f9f9;
}
.about__statistic{
    background-color: #10c9c3;
    text-align: center;
}
.progress_section_background{
    background: linear-gradient(to right, #f8f9f9 50%, #e9e9e9 50%);
}
.statistic_background{
    background: #10c9c3;
}

.img_statistic {
    float: left;
    padding: 102px 20px 100px 0px;

}
.about__text_statistic{
    font-family: 'Montserrat Medium';
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    text-align: left;
    margin: 100px 20px 100px 0px;
}

.about__statistic_span{
    font-family: 'Montserrat Medium';
    font-size: 18px;
    color: #ffffff;
}
/*More about work*/
.about__block{
    width: 340px;
    height: 300px;
}
.about__block_darkgray{
    background: #838383;
}
.about__block_gray{
    background: #dddddd;

}
.about__block_dark{
    background: #252525;
}
.img-middle{
    display: flex;
    margin: auto;
    align-items: center;
}
.about__text_load{
    padding: 50px 0px;
    color: #8e8e8e;
    font-family: "Montserrat Medium";
    font-size: 12px;
    background: #f5f5f5;
    text-align: center;
}
/*Work process*/
.process__circle{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #10c9c3;

}
.process__arrow_img{
}
.process__title{
    font-family: 'Montserrat Medium';
    font-size: 30px;
    color: #191919;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.process__text{
    font-family: 'Nunito Sans';
    font-size: 16px;
    color: #787878;
    padding-bottom: 60px;
}
.process__text_middle{
    text-align: center;
}
.process__square{
    width: 1166px;
    height: 570px;
    background: #e9e9e9;
}
.video-block_padding{
    padding-bottom: 100px;
    padding-top: 60px;
}
.card__title{
    color: #191919;
    font-family: 'Montserrat Medium';
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.card__text{
    color: #9e9e9e;
    font-family: 'Nunito Sans';
    font-size: 16px;
    padding-bottom: 50px;
    text-align: center;
}
.cards_padding_top_bottom{
    padding: 100px 0px;
    background: #f5f5f5;
}
.cards_background{
    background: #f5f5f5;
}
/*Authors word*/
.authors__background{
    background: #10c9c3;
}
.authors__words{
    font-family: 'Montserrat Medium';
    font-size: 24px;
    color: #ffffff;
    padding-top: 175px;
    padding-bottom: 35px;
    text-align: center;

}
.authors__name{
    font-family: 'Montserrat Medium';
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 110px;
    text-align: center;
    margin: 0;
}
.authors__bg{
    background: #10c9c3;
    padding: 0px;
}
q{
    font-family: 'Montserrat Medium';
    font-size: 24px;
    color: #ffffff;
    padding: 0px;
}
.authors__bt{
    background: #b0e8e6;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: none;
    padding: 0;
    position: relative;
    margin: 0;
    display: inline-block;
}
.authors__bt_selected{
    background: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
}
/*.mySlides{
    display: none;
}*/
/*.slideshow__container{
    position: relative;
}*/
.section-additional__padding{
    padding: 70px 0px;
}
/* Form request*/
.request-form__background{
    background: #f5f5f5;
}
.section-form-request{
    padding: 100px;
    color: #ababab;
    background: #f5f5f5;
    font-size: 16px;
    font-family: "Nunito Sans";
    text-align: center;
}
.section-form-request__text_h3{
    color: black;
    font-family: "Montserrat Medium";
    font-size: 30px;
    padding-bottom: 40px;
}
/*Footer*/
footer{
    background: #141414;
}
.footer{
    padding: 100px 0px;
    background: #141414;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-size: 15px;
}
.footer__span-text{
    color: #ffffff;
    font-family: "Montserrat Medium";
    font-size: 15px;
    padding-bottom: 30px;
}
.pd{
    padding-top: 25px;
}
.request-form__text{
    font-family: "Nunito Sans";
    font-size: 15px;
    color: #787878;
}
.request-form__text_input_padding{
    padding: 20px 0 20px 20px;
    width: 100%;

    border: none;
}
.request-form__text_input_padding_title{
    width: 100%;
}
.request-form__text_area_padding{
    padding: 20px 0 140px 20px;
    resize: none;
    border: none;
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.request-form__input_padding_bottom{
    margin-bottom: 30px;
}
.request-form__button{
    font-family: "Montserrat Medium";
    font-size: 12px;
    color: #ffffff ;
    padding: 22px 35px ;
    background-color: #10c9c3 ;
    border: none;
}
.footer__text_padding{
    padding-left: 100px;
}
#toTop{
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background: #10c9c3;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: white;
}
.menu-icon{
    display: none;
}
/*slider*/
.dots-style{
    margin-top: 110px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.dots-style button{
    background: #b0e8e6;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
    outline: none;
}
.dots-style li[class="slick-active"] button{
    background: #ffffff;
}

@media screen and (max-width: 1024px){
    nav {
        display: none;
    }
    .logo-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon{
        display: block;
        background: #10c9c3;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .header>div{
        padding: 30px 0 50px 0;
    }
    .about__progress{
        width: 100%;
    }

    .footer{
        padding: 20px 0px;
        margin-bottom: 0px;

    }

    .progress_section_background{
        background: #f8f9f9;
    }
    .about__progress_title{
        text-align: left;
        padding-top: 60px;
    }
    .about__section_empty{
        display: none;
    }
}
@media screen and (max-width: 360px){
    .header__title{
        padding-left: 20px;
        font-size: 34px;
    }
    .header__text{
        padding-left: 20px;
    }
    .about__block{
        width: 100%;
    }
    .header__button{
        margin-left: 20px;
    }
    .about__text_statistic, .img_statistic{
        padding: 22px 10px 20px 0px;
        margin: 0px;
    }
    .request-form__input_padding_bottom{
        padding: 0px;

    }
    .request-form__button{
        padding: 16px 28px;
    }
    .additional_padding_bt_mobile{
        padding-bottom: 40px;
        margin: auto;
    }
    .section-additional__padding{
        padding: 70px 0px;
    }
    .align-items-center_mobile{
        margin: auto;
    }
    .section-form-request{
        padding: 50px;
    }
    .about__block_display-none{
        display: none;
    }
    .change-bg-mobile-darkgray{
        background: #838383;
    }
    .change-bg-mobile-gray{
        background: #dddddd;
    }
    .footer__text_padding{
        padding: 0px 0px 0px 10px;
    }
    .footer__text_padding_mobile{
        padding-left: 40px;
    }
    .about__block{
        height: 150px;
    }
    .video-block_padding{
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
