@import 'fonts.css';
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.logo {

}
.menu-bar {
    color: #191919;
    padding: 35px 0;
    background: #e9e9e9;
}
.menu__item{
    margin-left: 30px;


}
.menu__item a{
    font-family: 'Montserrat Medium';
    color: #191919;
    font-size: 12px;
}
.menu__item a:hover{
    text-decoration: none;
    color: #10c9c3;
}
.menu__item_a-active a{
    color: #10c9c3;
}
/*Header*/
.header>div{
    padding: 180px 0 200px 0;
    background: #e9e9e9;
}
.header__title {
    color: #1d1d1d;
    font-family: 'Montserrat Medium';
    font-size: 38px;

}
.header__text{
    color: #787878;
    font-family: 'Nunito Sans';
    font-size: 18px;
    margin:40px 120px 40px 0px;

}
.button{
    padding: 20px 40px;
    border: none;
    background: #10c9c3;
    transition: 0.4s;
}
.header__button{
    color: #ffffff;
    font-family: 'Montserrat Medium';
    font-size: 12px;
}
