@import 'fonts.css';
ul, li, br{
    display: block;
    padding: 0;
    margin: 0;
}
.logo {

}
.menu-bar {
    color: #191919;
    padding: 35px 0;
    width: 1140px;
    margin: auto;


}
.menu-bar-background{
    background-color: #e9e9e9;
}
.menu__item{
    margin-left: 30px;


}
.menu__item a{
    font-family: 'Montserrat Medium';
    color: #191919;
    font-size: 12px;
}
.menu__item a:hover{
    text-decoration: none;
    color: #10c9c3;
}
.menu__item_a-active a{
    color: #10c9c3;
}
/*Header*/
.header>div{
    padding: 180px 0 200px 0;
    background: #e9e9e9;
}
.header__title {
    color: #1d1d1d;
    font-family: 'Montserrat Medium';
    font-size: 38px;

}
.header__text{
    color: #787878;
    font-family: 'Nunito Sans';
    font-size: 18px;
    margin:40px 120px 40px 0px;

}
.button{
    padding: 20px 40px;
    border: none;
    background: #10c9c3;
    transition: 0.3s;
}
.header__button{
    color: #ffffff;
    font-family: 'Montserrat Medium';
    font-size: 12px;
}
.header__button:hover{
    background: #118986;;
}
/*About*/
.about__title{
    color: #191919 ;
    font-family: 'Montserrat Medium' ;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.about__text{
    color: #787878 ;
    font-family: 'Nunito Sans' ;
    font-size: 16px;
    margin-bottom: 30px;
}

.about__text_progress{
    color: #000000 ;
    font-family: 'Montserrat Medium' ;
    font-size: 12px;
}
aabout__progress{
    border: 0;
    background-color: #10c9c3;
    height: 3px;
    width: 500px;
}
.about__img{
    margin-bottom: 100px;
}
progress{
    border: none;
    height: 3px;
    width: 500px;
    border-radius: 0px;
}
progress::-webkit-progress-bar {
    background: #d8d8d8;
}
progress::-webkit-progress-value{
    background: #10c9c3;
}
.about__text_progress{
    color: #000000;
    font-family: 'Montserrat Medium' ;
    font-size: 12px;
    margin-top: 40px;
}
.about__section_empty{
    background-color: #e9e9e9;
}
.about__progress_title{
    text-align: left;
    margin-top: 160px;
}
.about__progress_section{
    margin-bottom: 160px;
    background-color: #f8f9f9;
}
.about__statistic{
    background-color: #10c9c3;
    text-align: center;
}

.img_statistic {
    float: left;
    margin: 102px 20px 100px 0px;

}
.about__text_statistic{
    font-family: 'Montserrat Medium';
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    text-align: left;
    margin: 100px 20px 100px 0px;
}

.about__statistic_span{
    font-family: 'Montserrat Medium';
    font-size: 18px;
    color: #ffffff;
}
/*More about work*/
.about__block{
    width: 340px;
    height: 300px;
}
.about__block_darkgray{
    background: #838383;
}
.about__block_gray{
    background: #dddddd;

}
.about__block_dark{
    background: #252525;
}
.img-middle{
    display: flex;
    margin: auto;
    align-items: center;
}
.about__text_load{
    padding: 50px 0px;
    color: #8e8e8e;
    font-family: "Montserrat Medium";
    font-size: 12px;
    background: #f5f5f5;
    text-align: center;
}